@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

body {
  font-family: "Raleway", sans-serif;
  font-feature-settings: "lnum" 1;
  height: 100vh;
  margin: 0;
  background-color: #1f2229;
  color: white;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: relative;
}

h1 {
  margin: 0.2rem;
  text-align: center;
  font-weight: 500;
}

h2 {
  margin: 0;
  font-size: 0.9rem;
  text-align: center;
  font-weight: normal;
}

h2 span {
  color: #7ee8d9;
}

#search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1px 1rem;
  border-radius: 4px;
  max-height: 36.3vh;
  overflow-y: overlay;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #0000004d;
  background-color: #191b21;
}

.search-key {
  display: flex;
  gap: 0.5rem;
}

.search-key input {
  width: 15rem;
  padding: 7px;
  background-color: #2f333d;
  color: white;
  border: none;
  border-radius: 4px;
}

.search-key input:focus {
  outline: 1px solid #7ee8da;
}

.search-key button {
  width: 2rem;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  cursor: pointer;
}

button i {
  pointer-events: none;
}

#add {
  background-color: #7ee8da;
}

#remove {
  background-color: #d84a38;
}

#in-progress,
#empty {
  background-color: white;
}

#success:hover,
#error:hover,
#in-progress:hover,
#empty:hover {
  cursor: default;
}

#error {
  background-color: #fca43f;
}

#success {
  background-color: #5bb75b;
}

.option-container {
  position: absolute;
  bottom: 0.6rem;
  right: 0.6rem;
  gap: 0.6rem;
  display: flex;
}

.option-container div {
  border-radius: 4px;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f333d;
  border: 1px solid #2f333d;
  transition: 100ms;
  cursor: pointer;
  position: relative;
}

.option-container p {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
}

/* #update:hover {
  border: 1px solid #438943;
  color: #56d356;
} */

#saved:hover {
  /* border: 1px solid #7ee8d9; */
  color: #7ee8d9;
}

#new-files {
  position: absolute;
  background-color: #7ee8d9;
  width: 14px;
  height: 14px;
  top: -7px;
  left: -7px;
  border-radius: 50%;
  font-size: 0.7rem;
  color: #2f333d;
  font-weight: bold;
  display: none;
}

.bot {
  padding: 5px;
  width: 7rem;
  border: none;
  border-radius: 4px;
  background-color: #7ee8d9;
  font-size: 0.85rem;
}

#bot-option-container {
  display: flex;
  gap: 0.5rem;
  height: 1.8rem;
}

#bot-option-container p {
  margin: 0;
  padding: 5px;
  font-size: 0.95rem;
  cursor: pointer;
}
